body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url("../img/banner.png");
    background-size: cover;/*Para que se ajuste a todos los distintos tipos de pantalla*/
    height: 400px;
    text-align: center;
}
#logo{
    position: relative;/*que va a tomar como referencia el elemento padre*/
    height: 30%;
    /*bottom: -30%;que se va a ubicar desde el final hasta arriva hasta el 30%*/
    top: 70%;
    margin: 0px;
}
#main{
    display: flex;/*se van acoplar al espacio disponible*/
    margin-top: 1%;/*para crear una margen de 1 porciento*/
    margin-bottom: 1%;
}
nav{
    width: 20%;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
    color: orange;
    padding-right: 2%;
}
a{
    color: orange;
}
section{
    width: 60%;
    text-align: center;
}
aside{
    width: 20%;
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
}
img{
    width: 30%;
    margin: 2%;
}
#gif{
    width: 100%;
    margin: 0px;
}
p{
    width: 70%;
    padding: 2%;
}
article{
    display: flex;
    text-align: left;
}
h2{
    text-align: left;
    padding: 2%;
}
footer{
    background-color: orange;
    color: white;
    text-align: center;    
}
.noticias{
    display: block;
}
.imgnoti{
    width: 100%;
    margin: 0px;

}
.pnoti{
    width: 100%;
}