body{
    font-family: "arial";   
    background-image: url("../img/1.jpg");     
    background-size: cover; 
    text-align: center;
}
a{
    background-color: #F4ECEC;
    color: black;
    margin: 2px;   
    font-size: 13pt;
    padding: 7px;
    width: 60%;
    margin-top: 10px;
    border-radius: 10px; 
}