body{
    font-family: "arial";   
    background-image: url("../img/1.jpg");     
    background-size: cover; 
}
h1{
    padding: 1%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7); 
    color: #EFFBF8;
    text-align: center;
}
form{
    color: #EFFBF8;
}
a{
    background-color: #F4ECEC;
    color: black;
    margin: 2px;   
    font-size: 13pt;
    padding: 7px;
    width: 60%;
    margin-top: 10px;
    border-radius: 10px; 
}
p{
    color: #EFFBF8;
    text-align: right;
}