body{
    text-align: center;
}
p{
    display: inline-block;
}
#msg{
    display: none;
    position: absolute;
    width: 40%;
    height: 250px;
    top: 30%;
    left: 30%;
    border: solid 5px black;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    padding: 10px;
}
#icono{
    width: 100px;
}
#btnOk{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
