#estadisticas{
    display: none;
}
#bOpc1,#bOpc2,#bOpc3,#bOpc4{
    height: 20px;
    width: 0px;
    background-color: lightblue;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
.bar{
    width: 510px;
}